<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GCop.Collections" version="1.2.5" targetFramework="net461" />
  <package id="GCop.ErrorHandling" version="1.2.5" targetFramework="net461" />
  <package id="GCop.IO" version="1.2.5" targetFramework="net461" />
  <package id="GCop.Thread" version="1.2.5" targetFramework="net461" />
  <package id="Microsoft.NETCore.Platforms" version="2.1.0" targetFramework="net461" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net461" />
</packages>