<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GCop.Collections" version="1.0.4" targetFramework="net461" />
  <package id="GCop.Common" version="1.0.4" targetFramework="net461" />
  <package id="GCop.Conditional" version="1.0.4" targetFramework="net461" />
  <package id="GCop.ErrorHandling" version="1.0.4" targetFramework="net461" />
  <package id="GCop.IO" version="1.0.4" targetFramework="net461" />
  <package id="GCop.Linq" version="1.0.4" targetFramework="net461" />
  <package id="GCop.String" version="1.0.4" targetFramework="net461" />
  <package id="GCop.Thread" version="1.0.4" targetFramework="net461" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net461" />
  <package id="NETStandard.Library" version="2.0.1" targetFramework="net461" />
</packages>