@model Migrate
@{
	Layout = "~/Views/Layouts/MigrationDefault.cshtml";
	ViewData["Title"] = "Migrate";
}

@if (Model.Item == null)
{
	<div class="alert alert-danger">
		Migration not found
	</div>
}
else
{
	<div class="alert alert-info">
		Steps:
		<ol>
			<li>Backup db to s3 storage</li>
			<li>Run migrations</li>
			<li>Backup db to s3 storage</li>
		</ol>
	</div>

	Html.RenderPartial("_MigrationTaskView", Model.Item);

	<form method="post">
		<button type="submit" class="btn btn-primary">Start</button>
		<a href="/olive/migration/list" class="btn btn-secondary">Back to list</a>
	</form>
}

