@model Migrate
@{
	Layout = "~/Views/Layouts/MigrationDefault.cshtml";
	ViewData["Title"] = "Migrate";
}

@if (Model.Item == null)
{
	<div class="alert alert-danger">
		Migration not found
	</div>
}
else
{
	Html.RenderPartial("_MigrationTaskView", Model.Item);
}
<a href="/olive/migration/list" class="btn btn-secondary">Back to list</a>

