@model Restore
@{
	Layout = "~/Views/Layouts/MigrationDefault.cshtml";
	ViewData["Title"] = "Restore result";
}

@{
	Html.RenderPartial("_MigrationTaskView", Model.Item);
}

<a href="/olive/migration/list" class="btn btn-secondary">Back to list</a>

