@model ViewModel.SingleSignOn
<!-- «Start| SingleSignOn» -->
<form data-module="SingleSignOn" method="get" action="@Url.Current()" data-redirect="ajax">
   @Html.StartupActionsJson()
   <h2>Logging in to other apps...</h2>
   @Model.Errors.Raw()
   @if (Model.Items.Any())
   {
   <div class='list-items'>
      @foreach (var listItem in Model.Items)
      {
      var item = listItem.Item;
      <div class='item'>
         <div style='display:block; float:left; margin:15px; width:150px; height:150px;border:1px solid gray;'>
            @item
            <iframe style='width:150px; height:150px; border: none'
            src='@listItem.ServiceUrl?ticket=@info.Ticket'>
            </iframe>
         </div>
      </div>
      }
   </div>
   }
   @if (Model.Items.None())
   {
   <div class="empty-list">
      There are no services to display.
   </div>
   }
</form>
<!-- «End| SingleSignOn» -->
<script type="text/javascript">
     // Wait time
     function waitTime() { if (screen.width < 500) return 5000; else return 2000; }
     
     // Redirect
     setTimeout(function() { window.location.href='/' }, waitTime())
</script>
