.markdown-section pre, .markdown-section pre > code {
    color: #eee; 
    background-color: #2d2d2d;
    line-height: 1.1rem;
    padding: 8px;
    white-space: pre-wrap;
}

.markdown-section code {
    color: #000;
    background: #e3e8e8;
    padding: 2px 4px;
}

.sidebar li li { margin: 0; line-height: 22px; color:red; font-size: 11pt;}
.sidebar li li li { color: #203d3b; }
.sidebar li li li a { color: #203d3b; }

.sidebar li > p { margin-top: 15px; font-size:14pt; }
.sidebar ul li a {font-size: 13px;}

.sidebar ul li.active > a { display:inline-block; background: #42AAA9; color:#fff; border-radius: 12px; padding: 0 10px; margin-left:-11px; font-weight:normal}
